{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "semi": [2,"never"]
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "html"
  ]
}
