language: node_js
node_js:
  - '6.3.0'

git:
  depth: 3

branches:
  only:
    - master
    - dev

matrix:
  include:
    - os: osx
      env:
        - NODE_VERSION=6.3.0
        - BUILD_OS_NAME=darwin

before_script:
 - chmod +x ./app/script/travis-build.sh
 - export NODE_VERSION=6.3.0
 - export TEST_RUN=true

script: ./app/script/travis-build.sh

after_success:
  - node_modules/.bin/gulp coverage
  - npm run coveralls
  - npm run codeclimate

cache:
  apt: true
  directories:
    - node_modules

notifications:
  email:
    on_success: never
    on_failure: change

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - xvfb
