// out: ./crypt.css, compress: true
/*
	 MasterPassPrompt styles
	 ==========================================================================
*/
@import (less) "mixins.less";

/* Variable declarations*/
@invalid-color: #9F3A38;
@holder-height: 38vh;

/* Section styles */
header {
  margin: 0;
}
header > p {
  color: @blacker;
}
h1 {
  font-size    : 1.4rem;
  margin-bottom: 0.1rem;
}
h3 {
  margin-top: 0;
}
p {
  margin: 0;
}
a {
  font-size      : 0.8rem;
  color          : @blacker;
  text-decoration: none;
  outline        : none;
}
#crypt {
  height          : 100%;
  min-height      : 20rem;
  width           : 100%;
  background-color: @white;
  text-align      : center;
  overflow        : hidden;
}
.crypto {
  width : 8rem;
  height: auto;
  bottom: 0;
}

p.intrfo {
  color: @dark;
  font-size: 0.8rem;
  margin: 0.4rem;
}

#holder {
  margin-top: 6vh;
  width: 100%;
  height: @holder-height;
  text-align: center;
  display: flex;
  flex-flow: column;
  p {
    line-height: @holder-height;
    color: @white;
  }
}

.panel-container {
  position: relative;
  & > div {
    position  : absolute;
    text-align: center;
    transform : translateX(-110%);
    transition: transform 0.5s;
    & > button {
      margin-top: 1rem;
    }
  }
  & > div.current {
		width : 100%;
		height: 100vh;
    overflow : hidden;
    transform: none;
    position : relative;
  }
  & > div.current ~ div {
    transform: translateX(110%);
  }
  header {
    margin-top: 2rem;
  }
}

div#panel-crypted {
  // height: 90vh;
  // flex: 1.8;
  // display: flex;
  // flex-direction: column;
  #finfo {
    margin: 1rem;
    table {
      width: 100%;
      font-size: 0.8rem;
      tr {
        margin-top: 0.4rem;
        .bttline {
          vertical-align: inherit;
        }
        td {
          vertical-align: top;
          input[type="text"] {
            width: 95%;
          }
          a > img {
            height: 1rem;
            margin-left: 0.1rem;
          }
        }
        td:first-child {
          text-align: left;
          color: @dark * 0.8;
        }
        td:last-child {
          text-align: left;
          padding-left: 0.2rem;
        }
      }
    }
  }
}

input[type=text] {
  border: none;
  border-bottom: 1px solid @light;
  outline: none;
  vertical-align: top;
  &:focus {
    animation-name: colorTrans;
    animation-duration: 2s;
    border-bottom: 1px solid @black;
  }
}

p.info {
  display         : block;
  width           : 100%;
  box-sizing      : border-box;
  max-height      : 0;
  overflow        : hidden;
  padding         : 0 0.5rem;
  transition      : max-height 0.3s, padding 0.3s;
  background-color: #efefef;
  font-size       : 0.8rem;
}
img.info {
  float : right;
  height: 0.9rem;
}
img.info:hover + p.info {
  max-height    : 10rem;
  padding-top   : 0.5rem;
  padding-bottom: 0.5rem;
}
a.back {
  float: left;
}
a.back >img {
  height: 1rem;
  width : auto;
}
div.forgotMP {
  padding   : 0.2rem 0.2rem 0 0;
  text-align: right;
}
footer {
  display         : flex;
  clear           : both;
  position        : absolute;
  border-top      : 1px solid @light;
  width           : 100%;
  padding-bottom  : 0;
  background-color: @white;
  bottom          : 0;
  left            : 0;
}
footer > a {
  float  : right;
  padding: 0.2rem;
}

/* INVALID STYLING */
p#errLabel {
  display  : none;
  display  : inline-block;
  font-size: 0.8rem;
  padding:   : 0.2rem;
  color: @invalid-color;
}
